body{
    margin: 0;
}

#Menu_Title{
    background-color: greenyellow;
    width: 150px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 3px solid white ;
}

#MenuBar{
    background-color: greenyellow;
    height: 100vh;
    width: 150px;
}

.menus{
    color: black;
}

a{
    text-decoration:none;
}